@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 10px !important;
}

td {
  font-family: "Roboto", sans-serif !important;
  font-size: 1rem !important;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #282828;
  outline: 1px solid slategrey;
}

font {
  font-size: medium;
}

a {
  text-decoration: none;
}

/* Hide gmail logo  */
body > table:nth-child(14) > tbody > tr:nth-child(1) > td:nth-child(1) {
  display: none;
}

input[name="nvp_site_mail"] {
  display: none;
}

/* Search bar */

#sbq {
  width: 72vw;
  margin-left: 8.7em;
  padding: 0.1em 1em;
  border: 1px solid #ccc;
  height: 1.8em;
}

.search-form-submit,
input[type="submit"],
select {
  outline: none;
  background-color: #f2f2f2;
  color: #000;
  border: 1px solid #fff;
  padding: 0.5em;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.4em 1.2em;
  border-radius: 2px;
}

.search-form-submit:hover,
input[type="submit"]:hover {
  transition: 0.5s;
  background-color: #cccc;
}

/* MenuBar */

#gbar,
a[href="?&pv=tl&v=caf"],
a[href="?&pv=tl&v=as"],
td[width="120"] {
  display: none;
}

#profile {
  float: left;
  padding: 0.4em;
  font-size: 1rem;
  font-weight: bold;
}

#logout {
  float: right;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4em;
  color: #282828;
}

.gbh,
.gbd {
  border: none !important;
}

/* Table */

td[bgcolor="#C3D9FF"] {
  background-color: #fff;
}

table {
  border-collapse: collapse;
  background-color: #fff !important;
}

td {
  border-style: hidden !important;
}

form[name="f"] > table.th > tbody > tr {
  height: 2em;
}

form[name="f"] > table.th > tbody > tr td {
  font-size: 0.9rem !important;
}

form[name="f"] {
  width: 90%;
  margin: auto;
}

.read-email {
  background-color: #f5f6f7 !important;
  cursor: pointer;
}

.read-email:hover {
  transition: 0.2s;
  background-color: #e7f2f8 !important;
}

.read-email * {
  color: #8888 !important;
}

.unread-email {
  background-color: #ffff !important;
  cursor: pointer;
}

.unread-email:hover {
  transition: 0.2s;
  background-color: #e7f2f8 !important;
}

.unread-email a,
.unread-email a b {
  font-weight: normal;
  color: #4b4b4b;
}

.read-email font[color="#7777CC"],
.unread-email font[color="#7777CC"] {
  font-size: 0.8rem;
}

/* Label in email */

.label {
  color: #fff !important;
  font-size: 0.8rem;
  padding: 1em;
  border-radius: 4px;
}

/* Footer */

.ft {
  display: none;
}
